.info {
    @media (max-width: 575px) {
        &__img-mob {
            display: block;
            margin-bottom: 50px;
        }
        &__img {
            display: none;
        }
        &__title {
            font-size: 70.4441px;
            line-height: 40px;
            margin-bottom: 12px;
            font-weight: 700;
        }
        &__subtitle {
            font-size: 28.8181px;
            line-height: 40px;
        }
        &__list {
            max-width: 100%;
        }
        &__item {
            align-items: flex-start;
            font-size: 24px;
            line-height: 140.4%;
            margin-bottom: 30px;
            img {
                width: 32px;
                margin-right: 25px;
            }
        }
    }
}
