{% set data = [

    {
        number: '1 курс <div><span>+</span> <span>1 год стажа</span></div>',
        list: [
            {
                content: [
                    {
                        icon: 'course-icon-1',
                        text: 'Ты&nbsp;напуган и&nbsp;пока не&nbsp;уверен в&nbsp;своём выборе'
                    },
                    {
                        icon: 'course-icon-2',
                        text: 'Ты&nbsp;знакомишься с&nbsp;экспертами индустрии'
                    },
                    {
                        icon: 'course-icon-3',
                        text: 'Начинаешь работу помощником event-менеджера'
                    }
                ]

            }
        ]
    },
    {
        number: '2 курс <div><span>+</span> <span>2 года стажа</span></div>',
        list: [
            {
                content: [
                    {
                        icon: 'course-icon-4',
                        text: 'Узнаешь, как работает индустрия изнутри'
                    },
                    {
                        icon: 'course-icon-5',
                        text: 'Поймешь, чем именно ты&nbsp;хочешь заниматься'
                    },
                    {
                        icon: 'course-icon-6',
                        text: 'Становишься event-менеджером'
                    }
                ]

            }
        ]
    },
    {
        number: '3 курс <div><span>+</span> <span>3 года стажа</span></div>',
        list: [
            {
                content: [
                    {
                        icon: 'course-icon-7',
                        text: 'Помогаешь организовывать крупные события с&nbsp;партнёрами факультета'
                    },
                    {
                        icon: 'course-icon-8',
                        text: 'Приобретаешь связи и&nbsp;получаешь постоянных клиентов'
                    },
                    {
                        icon: 'course-icon-9',
                        text: 'Тебе поручают организовывать собственный проект'
                    }
                ]

            }
        ]
    },
        {
        number: '4 курс <div><span>+</span> <span>4 года стажа</span></div>',
        list: [
            {
                content: [
                    {
                        icon: 'course-icon-10',
                        text: 'Ты&nbsp;консультируешь новых event-менеджеров и&nbsp;постоянно организовываешь мероприятия'
                    },
                    {
                        icon: 'course-icon-11',
                        text: 'Общаешься с&nbsp;ведущими экспертами индустрии'
                    },
                    {
                        icon: 'course-icon-12',
                        text: 'Подготавливаешь проект event-агентства вместо классической работы'
                    }
                ]

            }
        ]
    }
]
%}