.header {
	@include vw("margin-bottom: 108px;");
	&__logo {
		display: flex;
		height: 100%;
		width: 100%;
		@include vw("max-width: 152px;");
		img {
			&:nth-child(2) {
				display: none;
			}
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include vw("max-width: 865px;");
	}
	&__phone {
		position: relative;
		@include vw("font-size: 18px;");
		line-height: 135%;
		display: flex;
		align-items: center;
		img {
			@include vw("width: 32px;");
			@include vw("margin-right: 12px;");
		}
		span {
			display: inline-block;
		}
	}
}
